extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page';



block content
    .container 
        | title
    //- include ../components/scrollspy
    //- section.intro
    //-     | intro