extends ../layout/main

block variables
    - title = t('home.title');
    - pageClass = 'main-page';

    - headerVisible = false;
    - footerVisible = false;


block content
    //- include ../components/scrollspy
    //- section.intro
    //-     | intro