extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page';



block content
    .container
        | title

        +newImg('intro/pirate-bay',{cls: 'w-100', ext: 'jpg', retina: 1, lazy: 1, w: 1170, h: 320})
    //- include ../components/scrollspy
    //- section.intro
    //-     | intro