
-
    var sectionCount = 6

nav.nav
    ul.nav-list
        -
            var x = 1
        while x <= sectionCount
            li.nav-list__item: a.nav-list__item-link(href=`#section-${x}`)= 'section-' + x
            - x++

.sections
    -
        var y = 1
    while y <= sectionCount
        section.section(class!=`section-${y}`, id!=`section-${y}`)= 'section-' + y
        - y++